@media screen and (max-width: 760px) {
    nav {
        max-height: 0;
        height: 50vh;
        overflow: hidden;
        position: absolute;
        top:100px;
        right:0;
        left:1000;
        width: 50%;
        background-color: black;
        color: #fff;
        opacity: 0.9;
    }

    ul {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        text-align: center;
        height: 30vh;
    }

    .icon {
        display: flex;
    }

    main {
        min-width: 100%;
    }

    .form {
        flex-direction: column;
        width: 100%;
    }

    .divider {
        display: none;
        visibility: hiddenh;
    }

    .first-section img {
        display: none;
    }
    
    .second-section img {
        display: none;
    }

    form {
        width:95%;
        margin: 0 auto;
    }

    .login-form,.details-form {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 500px;
    }

    .below-input {
        display: none;
    }

    .bottom-p {
        display: none;
    }

}